@import "normalize";
@import "mixins";
@import "base";

* {
  box-sizing: border-box;
}
body {
}

section.content {
  padding: 2.5rem;
}
h1 {
  font-size: 10vw;
}
 .lead {
   font-size: 2vw;
 }

@media only screen and (min-width: 55em) {
  h1 {
    font-size: 10vw;
  }
}
// Print
@import "grid";
@import "sidebar";
@import "print";
